<div class = "navcontainer">

<div class="navbar">
	<div class = "logo">
		<img src = "/public/logo2.svg"> 
	</div>
	<div class="navbutton">
		<a href = "/" class =
		
		<% if(tab == 'home'){ %>
			 "nav-an active">
		<% }else{ %>
			"nav-an">
		<%	}	%>

		Home </a>
	</div>

	<div class="navbutton">
		<a href = "/calculaterace" class = 

		<% if(tab == 'race'){ %>
			"nav-an active">
		<% }else{ %>
			"nav-an">
		<% } %>
		 
		 Race </a>
	</div>
	<div class="navbutton">
		<a href = "/gridandfun" class = 
		
		<% if(tab == 'gridandfun'){ %>
			"nav-an active">
		<% }else{ %>
			"nav-an">
		<% } %>

		Grid and fun </a>
	</div>

	

</div>
<div class = "logincontainer">
	
	<% if(!loggedIn){ %>
		<div class = "userbutton">
			<a href = "/users/login" class = "user-an"> Login </a>
		</div>
		<div class = "userbutton">
			<a href = "/users/register" class = "user-an"> Register </a>
		</div>
	<%} else{ %>

		<div class = "usercontainer">
			
				<div class = "userbutton username">Hello, <%=username%> 
				<i class="fa fa-caret-down"></i>
				</div>
				<div class = "drop-option">
					<a href = "/users/<%=username%>" > Profile </a>
					<a href = "/logout"> Logout </a>
				</div>
				
		
		</div>

	<% } %>
</div>
</div>