<div class = "navcontainer">

<div class="navbar">
	<div class = "logo">
		<img src = "/public/logo2.svg"> 
	</div>
	<div class="navbutton">
		<a href = "/" class =
		
		<% if(tab == 'home'){ %>
			 "nav-an active">
		<% }else{ %>
			"nav-an">
		<%	}	%>

		Home </a>
	</div>

	<div class="navbutton">
		<a href = "/calculaterace" class = 

		<% if(tab == 'race'){ %>
			"nav-an active">
		<% }else{ %>
			"nav-an">
		<% } %>
		 
		 Race </a>
	</div>
	<div class="navbutton">
		<a href = "/gridandfun" class = 
		
		<% if(tab == 'gridandfun'){ %>
			"nav-an active">
		<% }else{ %>
			"nav-an">
		<% } %>

		Grid and fun </a>
	</div>

	

</div>
<div class = "loginbutton">
		<a href = ""> Login</a>
	</div>

</div>