body{
	font-family: monospace;
	margin: 0px;
}
.navbar{
	display: flex;
	color: white;
	justify-content: center;
	background-color: navy;
	box-shadow: 4px 4px 4px;
}

.navbutton{
	font-size: 20px;
	padding: 20px;
	font-family: monospace;
}

.racecourse
{
	margin:280px;
	display: grid;
	margin-top: 80px;
	margin-bottom: 0px;
	grid-row-gap: 70px;
	grid-template-columns: 10% 80% 10%;
	
}
.poscontainer{
	margin-top: 120px;
}
.playername{
	margin-left: 5%;
}
.position{
	
	height: 5px;	
	background-color: rgb(200, 200, 200);
}
.finalpositioncontainer{
	font-family: monospace;
	font-size: 24px;
	margin-left: 20px;
}
.finalposition{
	display: inline;
	position: relative;
	top: -25px;
}
.points{
	background-color: orange;
	text-align: right;
	height: 100%;
	width: 0%;
	transition-duration: 0.5s;
}
.points img{
	position: relative;
	top: -30px;
	width: 100px;
}
.playername{
	font-family: monospace;
	font-size: 24px;
	margin-left: 20px;
}
.playername p{
	display: inline;
	position: relative;
	top: -25px;
	
}
.questioncontainer{
	margin: 40px;
	display: flex;
}
.question{
	margin: auto;
	font-size: 50px;	
}

.container{
	
}
.container input{
	display: block;
	margin: auto;
	font-size: 30px;
	border-radius: 10px;
	padding: 10px;
	border-color: green;
}