<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel = "stylesheet" href = "/public/styles/home.css">
		<link rel = "stylesheet" href = "/public/styles/gridandfun.css">
		<title>
		</title>
	</head>
	<body>
		<%-include('partials/navbar.ejs', {tab:tab}); %>

		<div class="grid">
			

			<div class="row">
				
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark">3</span>
				</label>  
  				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
			</div>

			<div class="row">
				
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
  				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
			</div>

			<div class="row">
				
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
  				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
			</div>
			<div class="row">
				
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
  				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark">6</span>
				</label>  
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
			</div>

			<div class="row">
				
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
  				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
				<label for="rc11">
					<input type = "checkbox" id = "rc11">
					<span class = "checkmark"></span>
				</label>  
			</div>
				
		
		</div>
	</body>
</html>