<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
		<link rel = "stylesheet" href = "./public/styles/home.css">
		<title>
			Playandlearn
		</title>
	</head>
	<body>
		<%-include('partials/navbar.ejs', {tab:tab}); %>
		
		<div class="header">
			
		<svg
		   xmlns:dc="http://purl.org/dc/elements/1.1/"
		   xmlns:cc="http://creativecommons.org/ns#"
		   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		   xmlns:svg="http://www.w3.org/2000/svg"
		   xmlns="http://www.w3.org/2000/svg"
		   id="svg849"
		   version="1.1"
		   viewBox="0 0 1600 500"
		  
		   width="1600">
		  <defs
		     id="defs843" />
		  <metadata
		     id="metadata846">
		    <rdf:RDF>
		      <cc:Work
		         rdf:about="">
		        <dc:format>image/svg+xml</dc:format>
		        <dc:type
		           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
		        <dc:title></dc:title>
		      </cc:Work>
		    </rdf:RDF>
		  </metadata>
		  <g
		     transform="translate(0,203)"
		     id="layer1">
		    <path
		       transform="rotate(112.95374)"
		       d="m 41.087723,-254.67412 a 118.68354,118.68354 0 0 1 -59.359338,102.7931 118.68354,118.68354 0 0 1 -118.701105,-0.0304 118.68354,118.68354 0 0 1 -59.30662,-102.82352"
		       id="path1503"
		       style="fill:none;fill-opacity:1;stroke:#04ff00;stroke-width:11.04628658;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
		    <path
		       transform="matrix(5.9712701,0,0,5.9712701,-218.61314,-789.2718)"
		       id="path6223"
		       d="m 60.883265,155.3934 c 5.99412,-4.38835 10.002615,-11.3891 10.753013,-18.77991 0.146178,-1.43973 0.174778,-2.89012 0.344101,-4.32731 0.169324,-1.43719 0.486926,-2.87838 1.170408,-4.15394 0.725354,-1.3537 1.856737,-2.4846 3.205086,-3.21985 1.348349,-0.73526 2.908216,-1.07371 4.440849,-0.97528 1.532632,0.0984 3.033373,0.63191 4.291142,1.5132 1.257769,0.88129 2.269911,2.10679 2.90857,3.50348 0.63866,1.3967 0.903486,2.96065 0.772257,4.49082 -0.13123,1.53017 -0.656995,3.0234 -1.503356,4.30493 -1.692724,2.56306 -4.684465,4.19393 -7.75361,4.31618 -3.014793,0.12008 -6.055368,-1.19941 -8.026897,-3.48337"
		       style="fill:none;stroke:#9b0a86;stroke-width:5.16499996;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
		    <path
		       id="path6232"
		       d="m 229.09949,91.005991 c 0,0 28.35724,-5.38 52.02977,-23.31346 23.67249,-17.93339 34.76945,-33.17667 34.76945,-33.17667 0.70859,-1.58107 -0.38695,31.6697 -20.04005,55.73452 -15.00457,18.372829 -31.80467,29.173829 -50.02482,34.118769 -10.31416,2.79926 -16.73435,-33.363159 -16.73435,-33.363159 z"
		       style="fill:#04ee00;fill-opacity:1;stroke:none;stroke-width:2.51396203px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <path
		       id="path6232-1"
		       d="m 295.80196,147.49611 c 0,0 -21.79164,-5.38 -39.98325,-23.31339 -18.19157,-17.93339 -26.71922,-33.176729 -26.71922,-33.176729 -0.54457,-1.58102 0.29738,31.669699 15.40015,55.734579 11.53055,18.37281 24.44088,29.17379 38.44249,34.11869 7.92611,2.7993 12.85983,-33.36315 12.85983,-33.36315 z"
		       style="fill:#04ff00;fill-opacity:1;stroke:none;stroke-width:2.20379782px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
		    <rect
		       transform="matrix(1,0,0.53549184,0.8445404,0,0)"
		       ry="0"
		       y="-237.70016"
		       x="793.70581"
		       height="600.76294"
		       width="949.93341"
		       id="rect1421"
		       style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.75294995;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
		    <text
		       id="text1457"
		       y="-37.992931"
		       x="439.28214"
		       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:83.97927856px;line-height:0;font-family:'Showcard Gothic';-inkscape-font-specification:'Showcard Gothic';letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:2.09948182"
		       xml:space="preserve"><tspan
		         style="stroke-width:2.09948182"
		         id="tspan1455"
		         y="-37.992931"
		         x="439.28214"><tspan
		           id="tspan1453"
		           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;line-height:0;font-family:'Brush Script Std';-inkscape-font-specification:'Brush Script Std';stroke-width:2.09948182"
		           y="-37.992931"
		           x="439.28214">Learning</tspan></tspan></text>
		    <text
		       id="text1471"
		       y="81.808258"
		       x="696.92853"
		       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:97.21438599px;line-height:1.25;font-family:'Showcard Gothic';-inkscape-font-specification:'Showcard Gothic';letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:2.4303596"
		       xml:space="preserve"><tspan
		         style="stroke-width:2.4303596"
		         id="tspan1469"
		         y="0"
		         x="834.96533"><tspan
		           id="tspan1465"
		           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Brush Script Std';-inkscape-font-specification:'Brush Script Std';stroke-width:2.4303596"
		           y="81.808258"
		           x="696.92853">Wh</tspan><tspan
		           id="tspan1467"
		           style="fill:#ffffff;stroke-width:2.4303596;-inkscape-font-specification:'Brush Script Std';font-family:'Brush Script Std';font-weight:normal;font-style:normal;font-stretch:normal;font-variant:normal"
		           y="81.808258"
		           x="834.96533">ile</tspan></tspan></text>
		    <text
		       id="text1463"
		       y="185.34659"
		       x="946.26825"
		       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:78.53973389px;line-height:1.25;font-family:'Showcard Gothic';-inkscape-font-specification:'Showcard Gothic';letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.96349335"
		       xml:space="preserve"><tspan
		         style="stroke-width:1.96349335"
		         id="tspan1461"
		         y="185.34659"
		         x="946.26825"><tspan
		           id="tspan1459"
		           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Brush Script Std';-inkscape-font-specification:'Brush Script Std';fill:#ffffff;stroke-width:1.96349335"
		           y="185.34659"
		           x="946.26825">playing</tspan></tspan></text>
		  </g>
		</svg>




		</div>


		<div class="content">
			<div class="game">
				<div class="text">
					<a href = "/calculaterace">Enter a Number race</a>		
				</div>
				<div class="image">

					<img src = "/public/images/car2.png">	
				</div>
				
			</div>

			<div class="game">
				<div class="text">
					<a href = "/gridandfun">Number maze</a>		
				</div>
				<div class="image">
					
					<img src = "/public/images/grid.png">	
				</div>
				
			</div>
			
		</div>

		
	</body>
</html>
