body{
	font-family: monospace;
	margin: 0px;
}
svg{
	height: 500px;
}
.navbar{
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: left;
	background-color: white;
	box-shadow: 1px 1px 4px grey;

}
.navbar img{
	height: 40px;
	display: block;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 100px;
}
.navbutton{
	font-size: 20px;
	padding: 15px 0px;

	font-family: monospace;
	/*background-image: linear-gradient(rgb(50, 50, 255), navy);*/
}

.navbutton .nav-an{
/*	color: white;*/
	border-right: 1px solid grey;
	padding: 0px 35px;
	color: grey;
	
	text-decoration: none;
}

.navbutton .nav-an:hover{
	padding: 05px 35px;
	border-radius: 5px;
	background-color: rgb(24, 202, 39);
	background-image: linear-gradient(rgb(24, 202, 39), rgb(30, 219, 87));
	color: white;

}

.navbutton .active{
	padding: 05px 35px;
	border-radius: 5px;
	background-color: rgb(24, 202, 39);
	background-image: linear-gradient(rgb(24, 202, 39), rgb(30, 219, 87));
	color: white;
}

.header{
	position: relative;
	z-index: -1;
	
	/*background-color: moccasin;*/
	background-color: aliceblue;
	
	align-content: center;
	justify-content: space-around;
	display: flex;
	/*box-shadow: 4px 4px 10px grey;*/
}
.header{

	max-width: 1600px;
	overflow: hidden;
}



.content{
	padding: 40px;
	text-align: center;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 20px;
}

.game{
	padding: 30px 0px;
	box-shadow: 2px 2px 4px grey;
}
.text{
	display: inline-block;
	padding: 0px 0px;
}
.image{
	display: inline-block;
	padding: 0px 30px;
}
.game img{
	display: inline;
	
	height: 50px;
}
.content a{

	display: inline-block;
	font-family: monospace;
	font-size: 30px;
}