body{
	font-family: monospace;
	margin: 0px;
}
svg{
	max-width: 100%;
	height: auto;
}
.logo{
	height: 30px;
	display: inline-block;
}

.navcontainer{
	
	position: relative;
	z-index: 2;
	display: flex;
	align-items: space-around;
	justify-content: space-between;
	background-color: white;
	box-shadow: 1px 1px 4px grey;
}
.navbar{
	
}
.navbar img{
	height: 40px;
	display: block;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 100px;
}

.logincontainer{


}
.userbutton
{
	margin-right: 10px;
	font-size: 18px;
	
	padding: 10px 0px;	
	
	display: inline-block;
	font-family: monospace;
}

.userbutton .user-an{
	text-decoration: none;
	display: inline-block;
	border: 1px solid orange;
	border-radius: 5px;
	padding: 5px 10px;
	color: orange;
}


.username
{
	padding: 15px 10px;
}

.drop-option
{
	display: none;
	position: absolute;
	z-index: 4;
	overflow: hidden;
	background-color: white;
	
}

.usercontainer:hover .drop-option{
	display: block;
}
.drop-option a{
	display: block;
	text-decoration: none;
	padding: 10px 30px;
	font-size: 20px;
	border-bottom: 1px solid grey;
}
.drop-option a:hover{
	background-color: orange;
	color: white;
}
.navbutton{
	font-size: 20px;
	padding: 15px 0px;
	display: inline-block;
	font-family: monospace;
	/*background-image: linear-gradient(rgb(50, 50, 255), navy);*/
}

.navbutton .nav-an{
/*	color: white;*/
	border-right: 1px solid grey;
	padding: 0px 35px;
	color: grey;
	
	text-decoration: none;
}

.navbutton .nav-an:hover{
	padding: 05px 35px;
	border-radius: 5px;
	background-color: rgb(24, 202, 39);
	background-image: linear-gradient(rgb(24, 202, 39), rgb(30, 219, 87));
	color: white;

}

.navbutton .active{
	padding: 05px 35px;
	border-radius: 5px;
	background-color: rgb(24, 202, 39);
	background-image: linear-gradient(rgb(24, 202, 39), rgb(30, 219, 87));
	color: white;
}

.header{
	
	
	/*background-color: moccasin;*/
	background-color: aliceblue;
	
	
	
	/*box-shadow: 4px 4px 10px grey;*/
}
.header{

	max-width: 1600px;
	overflow: hidden;
}



.content{
	padding: 40px;
	text-align: center;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 20px;
}

.game{
	padding: 30px 0px;
	box-shadow: 2px 2px 4px grey;
}
.text{
	display: inline-block;
	padding: 0px 0px;
}
.image{
	display: inline-block;
	padding: 0px 30px;
}
.game img{
	display: inline;
	
	height: 50px;
}
.content a{

	display: inline-block;
	font-family: monospace;
	font-size: 30px;
}